@import 'tailwindcss';

:root {
  --primary-color: #1974d2;
  --primary-border-color: #145698ff;
}

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

input,
button,
select,
textarea,
optgroup,
option {
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
  font-style: inherit;
  color: inherit;
}

a,
a:visited {
  text-decoration: none;
}

body {
  margin: 0;
  padding: 0;
}

#root {
  height: 100vh;
}
